.background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: grey;
    stroke-opacity: .7;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.phaseChart_axis line, .phaseChart_axis path {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.phaseChart_axis text {

    fill: red;
    opacity: 1;

}

.btn-primary {
    color: white;
    background-color: grey;
    border-color: grey;

}

#StartYear{
    width: 150px;
}
#EndYear{
    width: 150px;
}

#phaseForm{
    padding-left: 100px;
}