

body {
	font-family: 'Neuton', serif;
	background-color: rgb(58, 50, 50);
}

.container {
	width: 1300px;
}

h1 {
	font-size: 36px;
	color: rgba(217, 27, 40, 0.75);
	margin-top: 40px;
}

h2 {
	color: rgba(246, 249, 255, 0.55);
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.brush {
	fill: #ccc;
	fill-opacity: .5;
	pointer-events: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: rgba(246, 249, 255, 0.55);
  shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: rgba(246, 249, 255, 0.55);
}


.area {
	fill: #825a5a;
}

.area.area-age {
	fill: #94a97a;
}

.bar {
	fill: rgba(217, 27, 40, 0.75);
}

.fill {
  fill: rgba(145, 20, 0, 0.75);
}
.line {
	fill: none;

	stroke-width: 1.5px;
}
